<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{{ setting.site_title|default:'Blog Title' }}</title>
</head>
<body>
    <header class="section center-align {{ setting.primary_color|default:'teal' }} white-text">
        <h1>
            <a class="white-text" href="/" title="{{ setting.site_header|escape|default:'Blog Header' }}">
                {{ setting.site_header|default:'Blog Header' }}
            </a>
        </h1>
        <h5>{{ setting.site_sub_header|default:'Blog Sub Header' }}</h5>
        <p>{{ setting.site_small_header|default:'Blog Small Header.' }}</p>
    </header>

    <section id="content" class="section">
        {% block content %}
        {% endblock %}
    </section>

    <footer class="page-footer {{ setting.primary_color|default:'teal' }} center-align">
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light {{ setting.primary_color|default:'teal' }}" href="/admin" title="Admin Panel">
                <i class="material-icons">mode_edit</i>
            </a>
        </div>
        <div class="container">
            <p>
                Powered by <a class="white-text text-darken-5" href="https://www.djangoproject.com" title="Django Project">Django</a>
            </p>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="white-text text-darken-5" href="http://revert.pl" title="Full-stack developer">Revert</a>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>
